.img-box {
  position: relative;

  border-radius: 14px;
  overflow: hidden;

  width: 274px;
  height: 268px;

  background: rgba(0, 0, 0, 0.1);

  margin-bottom: 14px;
}

.img {
  height: 100%;
  margin-left: -20%;
}

.fav-button {
  position: absolute;
  display: flex;
  padding: 0;

  top: 15px;
  right: 15px;
}

.description-box {
  display: flex;
  justify-content: space-between;
}

.my {
  color: #121417;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  margin-bottom: 18px;
}

.car-info {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;

  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;

  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.info-box {
  margin-bottom: 28px;
}

.learn-more {
  border-radius: 12px;
  width: 100%;
  padding: 12px 10px;
  background: #3470ff;
  color: #fff;

  transition: background 0.3s ease;
}

.learn-more:hover,
.learn-more:focus {
  background: #0b44cd;
}
