.container {
  width: 100%;
  padding: 0 10px;
  max-width: 1204px;
}

.load-more {
  margin: 0 auto;
  color: #3470ff;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;

  transition: color 0.3s ease;
}

.load-more:hover,
.load-more:focus {
  color: #0b44cd;
}
