@import url('css/reset.css');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--main-text-color);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-sub-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-dark-sub-color);
}
